<main>
    <form class="product-form" action="/add-name" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </div>

        <button class="btn" type="submit">Add name</button>
    </form>
</main>